<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:html_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags("application", shim: true) %>
  </head>

  <body>
    
    <div class="container py-3">
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
    </div>

    <div class="container py-4">
      <%= yield %>
      <%= render "shared/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
